In [0]:
from pyspark.sql.functions import col,count,avg,sum
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "a1a46332-d07b-49ff-a57e-55ea1ba78cef",
"fs.azure.account.oauth2.client.secret": "e8i8Q~cDUFynKcPDI_mmKF_4eAT.D8LMGLojedxG",
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/e7256937-380b-4f42-ac91-3cce4edcc6b0/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@bhuvanatokyoolympicdata.dfs.core.windows.net",
mount_point = "/mnt/tokyoolympic",
extra_configs = configs)

Out[14]: True

In [0]:
%fs
ls /mnt/tokyoolympic

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1727635454000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1727635464000

In [0]:
spark

In [0]:
athelets_schema = "PersonName string ,Country string ,Discipline string "
coachess_schema = "Name string ,Country string , Discipline string , Event string"
EntriesGender_schema = "Discipline string ,Female int,Male int, Total int" 
medals_schema = "Rank int ,TeamCountry string ,Gold int ,Silver int ,Bronze int ,RankbyTotal int"
teams_schema = "TeamName string ,Discipline string ,Country string ,Event string"

In [0]:
athelets_df = spark.read.format("csv").option("header","true").schema(athelets_schema).load("dbfs:/mnt/tokyoolympic/raw-data/athelets")
coachess_df = spark.read.format("csv").option("header","true").schema(coachess_schema).load("dbfs:/mnt/tokyoolympic/raw-data/coaches")
EntriesGender_df = spark.read.format("csv").option("header","true").schema(EntriesGender_schema).load("dbfs:/mnt/tokyoolympic/raw-data/EntriesGender")
medals_df = spark.read.format("csv").option("header","true").schema(medals_schema).load("dbfs:/mnt/tokyoolympic/raw-data/medals")
teams_df = spark.read.format("csv").option("header","true").schema(teams_schema).load("dbfs:/mnt/tokyoolympic/raw-data/teams")

In [0]:
# Find the top countries with the highest number of gold medals
medals_df.orderBy("gold",ascending=False).select("TeamCountry","Gold").show(truncate=False)

+--------------------------+----+
|TeamCountry               |Gold|
+--------------------------+----+
|United States of America  |39  |
|People's Republic of China|38  |
|Japan                     |27  |
|Great Britain             |22  |
|ROC                       |20  |
|Australia                 |17  |
|Netherlands               |10  |
|France                    |10  |
|Germany                   |10  |
|Italy                     |10  |
|Canada                    |7   |
|Brazil                    |7   |
|New Zealand               |7   |
|Cuba                      |7   |
|Hungary                   |6   |
|Republic of Korea         |6   |
|Poland                    |4   |
|Czech Republic            |4   |
|Kenya                     |4   |
|Norway                    |4   |
+--------------------------+----+
only showing top 20 rows

In [0]:
EntriesGender_df.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
# Calculate the average number of entries by gender for each discipline
EntriesGender_df.withColumn("avg_female",col("Female")/col("total")) \
    .withColumn("avg_male",col("Male")/col("total")).show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         avg_female|           avg_male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [0]:
athelets_df.repartition(1).write.mode("overwrite").option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/athlets")
coachess_df.repartition(1).write.mode("overwrite").option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/coaches")
EntriesGender_df.repartition(1).write.mode("overwrite").option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/EntriesGender")
medals_df.repartition(1).write.mode("overwrite").option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/Medals")
teams_df.repartition(1).write.mode("overwrite").option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/Teams")